.place__paragraph {
  line-height: 1.63;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin: 0 0 27px;
}

@media screen and (max-width: 890px) {
  .place__paragraph {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph {
    margin-right: 16px;
    margin-left: 16px;
  }
}

.place__paragraph:last-child {
  margin-bottom: 0;
}