.cover__overlay {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  background: rgba(42, 44, 47, 0.3);
  transition: background 350ms ease;
}

.cover__overlay:hover {
  background: rgba(42, 44, 47, 0.8);
}